<section id="sobre">
      <div class="container sobre">
        <h2>BEM-VINDO!</h2>
        <h4>
           Cheque as salas do Instituto da Computação da UFF e os equipamentos disponíveis para reserva aqui. 
          <br>Observações:<br> Não é possivel reservar um projetor e uma sala que já contém o equipamento simultaneamente.
          Alunos devem contatar o gerente caso desejem fazer uma reserva.
        </h4>
      </div>
    </section>