<!DOCTYPE html>
<html>
<head>
  <title>Projeto1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <section id="logo">
      <div class = "icone">
        <div class="container header-logo-default">
          <a href="#"><img src= "img/IC-Logo.png" class="responsive fotologo"></a>
          <div class = "col-md-6 text-center nome-site">
            <h1>Controle de Salas e Equipamentos</h1>
          </div><!-- nome-site -->
        </div>
      </div>

    </section>
    <section id ="menu">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
     
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salas<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="predio1.html">Prédio 1</a></li>
                  <li><a href="predio2.html">Prédio 2</a></li>
                </ul>
              </li>
              <li><a href="equipamentos.html">Equipamentos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="login.html">Login</a></li>
              <li><a href="cadastro.html">Cadastro</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Busque por sala ou equipamento">
              </div>
              <input type="checkbox" name="tipo-busca" value="sala">Sala                       <input type="checkbox" name="tipo-busca" value="equip">Projetor
              <button type="submit" class="btn btn-default">Procurar</button>
            </form>  -->
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="...">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pesquisar por: <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><button type="submit" value="sala"class="btn btn-default btn-busca"> Sala </button></li>
                      <li><button type="submit" value="projetor"class="btn btn-default btn-busca">Projetor</li>
                    </ul>
                  </div>
            </form>
                  
                </div><!-- /btn-group -->
              </div><!-- /input-group -->

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </section>
  </div>
  <footer id = "footer">
      <p>Suporte:xxxxxxxxxxxxx </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src='projeto.js'></script>
<%= yield %>

</body>
</html>
